@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
body {
  font-family: "Merriweather", cursive;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  font-family: "Poppins", sans-serif;
  background-color: #062349;
  color: white;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: 400;
}
header a {
  color: #fff;
}
.head-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.head-txt {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 75.5px;
  height: 75.5px;
  border-radius: 50%;
}
.called {
  color: #7ebdff;
}
.serve {
  color: #2682eb;
}
.h1-sub {
  color: #fff;
}
nav {
  background-color: #14417c;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  border-radius: 10px;
}
nav a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin: 0.5rem;
  display: flex;
  font-size: 1.5rem;
  border-radius: 10px;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  font-weight: 700;
}
nav a:hover {
  background-color: #050505;
  color: white;
  font-weight: 700;
}
.main_img {
  /* max-height: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 20px 20px 0 20px;
}
.main_img h2 {
  animation: slideIn 1s ease-in;
}
.main_img h3 {
  padding: 5px 15px;
  color: #323b6e;
  font-size: 1.25rem;
}
.group-pic {
  width: 100%;
  height: 50%;
}
.quotes {
  background-color: #053862;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.text-box {
  color: #ffffff;
  background-color: #053862;
  padding: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.text-box h2 {
  text-decoration: underline;
  font-size: 2.5rem;
  text-align: center;
}
.text-box h3 {
  font-size: 1.75rem;
}
.quotes h2,
h3 {
  text-align: center;
}
.hidden {
  opacity: 0;
  transition: all 2s;
  transform: translateX(-100%);
}
.show {
  opacity: 1;
  transform: translateX(0);
}
.president {
  background-image: url("../image/russel.jpeg");
  width: 100%;
  color: #fff;
  font-size: 2.5rem;
  height: 80vh;
}
.box {
  text-align: center;
  background-color: #14417c;
  padding: 20px;
  color: #fff;
  font-size: 1.2em;
}
.profile {
  width: 250px;
  height: fit-content;
  margin: 20px 10px;
  border-radius: 10px;
}
.profile:hover {
  opacity: 0.9;
}
.details {
  font-weight: 900;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.links .del {
  background-color: rgb(150, 25, 25);
}
.links .del:hover {
  background-color: red;
}
.links a {
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: #053862;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.links a:hover,
.view:hover {
  transition: transform 0.8s ease, box-shadow 0.3s ease;
  box-shadow: 0 3px 4px rgba(17, 15, 15, 0.801);
  background-color: blue;
  color: #fff;
}
.missionaries_card {
  border-radius: 5px;
  background-color: #c9cacf;
  margin: 15px;
  padding: 20px;
  border: 2px solid #2682eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.801);
}
.missionaries_card a{
  text-decoration: underline;
  cursor: pointer;
}
.view {
  padding: 10px;
  color: #fff;
  background-color: #062349;
  text-align: center;
  margin: 2rem;
  border-radius: 5px;
}
.active,
#scripture {
  text-decoration: underline;
}
.missionaries_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-gap: 2rem;
  margin: 1rem;
  justify-content: center;
}
#editModal {
  color: #050505;
  background-color: #323b6e;
  display: flex;
  justify-content: space-around;
}
/* MODAL ENDS */
footer {
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #053862;
  position: relative;
}
.footer-logo-div {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}
.footer-logo-div img {
  width: 10%;
}

.carousel-img{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}
.carousel-img img{
  width: 250px;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: (1);
    transform: translateX(0);
  }
}
